.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/

*.pdb
*.cache
*.ilk
*.log

[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Ll]og/
[Ll]ogs/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.DotSettings

*.db
*.db-shm
*.db-wal

.vscode/
.idea/
.trae/

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

settings.json
